# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python / Node (future)
__pycache__/
*.pyc
node_modules/

# Secrets
.env
*.pem
ansible/vault.yml

# Backups
MotorcadeBackups/
*.tar
*.tar.gz
*.zip

# Build outputs
/dist
/build
